<h2>Pagina tres</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto porro magnam beatae atque consequuntur quisquam perferendis nesciunt laudantium incidunt dolor, cum ipsa rerum error enim explicabo sed necessitatibus excepturi iure!</p>
<% %> 
<%= 'pagina 3'%>